<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>PUBGM</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mobile Legends</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Valorant</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Honor of Kings</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Free Fire</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apex Legends</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Clash of Clans</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Call of Duty Mobile</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Genshin Impact</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
